* {
    background:                     #282828FF;
    background-alt:                 #3c3836ff;
    foreground:                     #ebdbb2ff;
    border:               			#282828ff;
    border-alt:               		#282828ff;
    selected:               		#665c54aa;
    urgent:                         #DA4453FF;
}
